doctype html
html 
    head 
        link(href='./css/style.css', rel='stylesheet')
        header
            nav 
                ul
                    li
                        a(href='index') Home
                    li
                        a(href='login') login
            title #{title}
            
        block vars
    body    
       
        section
            block content
            br
    footer Team Lazy Peeps&copy; 2017