extends layout
block content
    div(id="container")
        label Username: 
        
        input(id="username" type="text" placeholder="Enter Username" name="uname" required)
        br
        label Password: 
        
        input(id="password" type="password" placeholder="Enter Password" name="psw" required)
        br
        button(id="submit" type="submit") Login
            