doctype 
html
    head
        title Login
        link(href='/css/style.css', rel='stylesheet')
        header
            nav 
                ul
                    li
                        a(href='index') Home
                    li
                        a(href='login') login
    body
        div(id="container")
        form(method='post', action='/login')
            label(for='username') Username (user): 
            input(id="username" type="text" placeholder="Enter Username" name="username" required)
            br
            label(for='password') Password (pass):
        
            input(id="password" type="password" placeholder="Enter Password" name="password" required)
            br
            input(type="submit", value='Enter')
            br
            a(href="/create") Create Account
            
//-///////////////////////////////////////////////////////////////////////////
            //-Login Page