extends layout
block content
    h1 What color is made when you mix blue and green?
        br
        button() Yellow
        br
        button() Magenta
        br
        button(id="cyan") Cyan
        br
        button() Red
        br
    h1 Which band has a song called 1958?
        br
        button(id="adtr") A Day To Remember
        br
        button() Beartooth
        br
        button() For Today
        br
        button() The Ammity Affliction
    h1 What is Brandon's favorite soda?
        br
        button() Coke
        br
        button() Sprite
        br
        button() Mountain Dew
        br
        button(id="pepsi") Pepsi
