doctype
html
    head
        title question
        link(href='/css/style.css', rel='stylesheet')
    body
        h1 What color is made when you mix blue and green?
            br
            button(id="yellow") Yellow
            br
            button(id="magenta") Magenta
            br
            button(id="cyan") Cyan
            br
            button(id="red") Red
            br
        h1 Which band has a song called 1958?
            br
            button(id="adtr") A Day To Remember
            br
            button(id="bear") Beartooth
            br
            button(id="fort") For Today
            br
            button(id="tama") The Ammity Affliction
        h1 What is Brandon's favorite soda?
            br
            button(id="coke") Coke
            br
            button(id="sprite") Sprite
            br
            button(id="mountain") Mountain Dew
            br
            button(id="pepsi") Pepsi
